.cardBorder { width: 20rem; 
height: 50rem;
margin-top:60px;
}

.cardIMG { height: 20rem;
}

.cardTitle{
    text-align: center;
}

.cardText{
    text-align: center;
    margin-top: 1rem;
}
.cardBtn{
    position: absolute; 
    bottom: 0;
    margin-bottom: 1rem;
    left:40%;
}
