.cardBorder { width: 17rem; 
height: 47rem;
padding:0;
}

.cardIMG { height: 20rem;
}

.cardTitle{
    text-align: center;
}

.cardText{
    text-align: center;
}
.cardBtn{
    position: absolute; 
    bottom: 0;
    margin-bottom: 1rem;
    left:40%;
    margin-top:1rem;
}
