.movie-poster{
    padding-top: 2rem;
    position:relative;
    position:left;
      }

.movie-title{
    margin-top: 3rem;
    font-size: 120%;
    text-align: center;
}

.movie-description{
    position: top;
    margin-bottom: 1rem;
}

.movieBack{
    position:relative;
    bottom:0;
    left: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-buttons{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    margin: 2rem;

}

.label{
    text-align:center;
}

.bottomButtons{
   display:flex;
   flex-wrap:wrap;
   margin: 1rem;
   justify-content: space-between;

}

