// .movie-view{
//     align-items: center;
// }

.movie-poster{
    padding-top: 5rem;
    position:relative;
    left: 40%;
  }

.movie-title{
    font-size: 120%;
    text-align: center;
}

.movie-description{
    position: top;
    margin-bottom: 1rem;
}

.movieBack{
    position:relative;
    bottom:0;
    left: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttons{
    position:center;
}